schemas/stock_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="price_data">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="offer" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:integer" name="id"/>

              <xs:element  name="name">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="3"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
<!--              <xs:element type="xs:string" name="type"/>-->

              <xs:element name="type">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="per_item" />
                    <xs:enumeration value="per_kilo" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element type="xs:float" name="regular_price"/>
<!--              <xs:element type="xs:float" name="discount_price"/>-->

              <xs:element name = "discount_price" nillable="true" >
                  <xs:simpleType>
                      <xs:union>
                          <xs:simpleType>
                              <xs:restriction base="xs:string">
                                  <xs:length value="0" />
                              </xs:restriction>
                          </xs:simpleType>
                          <xs:simpleType>
                              <xs:restriction base="xs:float" />
                          </xs:simpleType>
                      </xs:union>
                  </xs:simpleType>
              </xs:element>

              <xs:element name = "discount_from_date" nillable="true" >
                <xs:simpleType>
                  <xs:union>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="0" />
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:date" />
                    </xs:simpleType>
                  </xs:union>
                </xs:simpleType>
              </xs:element>


              <xs:element name = "discount_to_date" nillable="true" >
                <xs:simpleType>
                  <xs:union>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="0" />
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:date" />
                    </xs:simpleType>
                  </xs:union>
                </xs:simpleType>
              </xs:element>

<!--              <xs:element type="xs:string" name="discount_from_date"/>-->
<!--              <xs:element type="xs:string" name="discount_to_date"/>-->
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:date" name="price_date"/>
    </xs:complexType>
  </xs:element>
</xs:schema>